@model CheeseMVC.ViewModels.AddCategoryViewModel

<h1>Add Category</h1>

<form asp-controller="Category" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Category" />
</form>