@model CheeseMVC.ViewModels.AddMenuViewModel

@{
    ViewBag.Title = "New Menu";
}


<h1>Add Menu</h1>

<form asp-controller="Menu" asp-action="Add" method="POST">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <input type="submit" value="Add" />
</form>
