@model CheeseMVC.ViewModels.ViewMenuViewModel



<h1>@Model.Menu.Name</h1>

<ul>
    @foreach (var item in Model.Items)
    {
       <li>
           @item.Cheese.Name 
       </li>
    }
</ul>

<a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a>

