<h1>@ViewBag.title</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <td>@ViewBag.cheese.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@ViewBag.cheese.Description</td>
    </tr>
</table>