<h1>Remove Cheese</h1>

<form method="post">
    @foreach (var cheese in ViewBag.cheeses)
    {
        <input type="checkbox" name="cheeses" value="@cheese.Name" id="@cheese.Name" />
        <label for="@cheese.Name">@cheese.Name</label>
        <br />
    }
    <input type="submit" value="Remove Selected Cheese" />
</form>